@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0D2438;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    height: 50px;
    background-color: #0D2438;
}

.navbar a {
    text-decoration: none;
    color: #EEf2FF;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 45px;
    margin-left: 38px;
}

.navbar ul li {
    font-size: 18px;
    justify-content: center;
    display: flex;
    text-align: center;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.navbar ul li:hover {
    color: #fff;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons .download {
    padding: 12px;
    border-radius: 7px;
    background-color: #6366F1;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.buttons .download:hover {
    background-color: #4b4eee;
}

.dark-mode {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    padding: 10px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: #1E3851;
    border-radius: 50%;
}

.dark-mode .i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}


.container-text {
    color: #F7F8Fc;
    justify-content: center;
    align-items: center;
    margin-top: 225px;
    font-size: 20px;
    letter-spacing: 2px;
    gap: 20px;
    flex-direction: column;
}

.container-text h2 {
    font-weight: 500;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: auto;
}


.container img {
    width: 680px;
    margin-top: 30px;
}


.social-media button {
    padding: 12px;
    margin-left: 4px;
    border-radius: 7px;
    background-color: #EEf2FF;
    border: 1px solid #EEf2FF;
    color: #474b53;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.social-media a img {
    width: 8px;
    align-items: center;
    justify-content: center;
}

.social-media button:hover {
    background-color: #6366F1;
    color: #EEf2FF;
    border: 1px solid #6366F1;
}

.sobre {
    padding-top: 60px;
}

.sobre h1 {
    text-align: center;
    color: #EEf2FF;
}

.sobre p {
    color: #EEf2FF;
    margin: 4em;
    letter-spacing: 1px;
}

.projects-title h1 {
    color: #EEf2FF;
    text-align: center;
    margin: 40px;
}

.card {
    width: 325px;
    background-color: #1E3851;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 30px;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-info {
    padding: 20px;
}

.project-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    color: #F7F8Fc;
}

.project-description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #F7F8Fc;
}

.project-links {
    display: flex;
    gap: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border: 2px solid #6366F1;
    color: #6366F1;
}

.button.primary {
    background-color: #6366F1;
    color: #fff;
}

.button:hover {
    background-color: #6366F1;
    color: #fff;
    border-color: #6366F1;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F7F8Fc;
    height: 100px;
}

@media screen and (max-width: 690px) {

    .container {
        flex-direction: column;
    }

    .container-text {
        margin-left: 120px;
        margin-top: 150px;
    }

    .container img {
        width: 550px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 540px) {
    .buttons .download {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .dark-mode {
        margin-left: 150px;
    }

    .sobre {
        text-align: center;
    }

    .sobre h1 {
        margin-left: 120px;
    }

    .sobre p {
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 380px) {
    .sobre {
        text-align: center;
        margin-left: 0;
    }

    .sobre h1 {
        margin-left: 125px;
    }

    .sobre p {
        text-align: center;
        width: 100%;
    }

    .container img {
        width: 400px;
        margin-left: 50px;
    }

    .container-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .projects-title {
        margin-left: 125px;
    }

    .dark-mode {
        margin-left: 55px;
    }
}

@media screen and (max-width: 1000px) {

    .projects-container {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
        left: 0;
        right: 0;
    }

}

@media screen and (max-width: 480px) {

    .projects-container {
        margin-left: 120px;
    } 
    
    
    .footer {
        display: none;
    }
}